﻿@model List<Gra>

<h2>Lista gier</h2>

<script>
    $(document).ready(function () {
        $('.btn-usun').click(function () {
            var btn = $(this);
            swal({
                title: 'Na pewno chcesz to usunąć?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Tak,chcę to usunąć!',
                cancelButtonText: 'Anuluj'
            }).then(function () {
                $(btn).closest('form').submit();
            })
        });
    });
</script>

@Html.ActionLink("Dodaj grę", "DetaleGry", "Gra", null, new { @class = "btn btn-default" })
<div class=" row">
    <div class="col-sm-12">
        <table class="table table-striped" style="margin-top:20px;">
            <tr>
                <th>
                    Data dodania
                </th>
                <th>
                    Typ rozgrywek
                </th>
                <th>
                    Miejsce
                </th>
                <th class="hidden-xs">
                    Ilość uczestników
                </th>
                <th class="hidden-xs">
                    Kategoria wiekowa
                </th>
                <th style="width:200px;"></th>
            </tr>
            @if (Model.Count == 0)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center">
                        Brak danych.
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            }
            @foreach (Gra gra in Model)
            {
                <tr>
                    <td>
                        @gra.Data
                    </td>
                    <td>
                        @(((TypGry)gra.Typ).PobierzOpisEnuma())
                    </td>
                    <td>
                        @gra.Miejsce
                    </td>
                    <td class="hidden-xs">
                        @gra.UczestnicyGry.Where(x => !x.CzyUsuniety).Count()
                    </td>
                    <td class="hidden-xs">
                        @((KategoriaWiekowa)gra.KategoriaWiekowaGry)
                    </td>
                    <td>
                        @using (Html.BeginForm("Usun", "Gra", FormMethod.Post))
                        {
                            @Html.Hidden("id", gra.Id)  @*nazwa ma byc tak jak nazwa parametru w kontrolerze , a wartosc pobieramy z konkretnego elementu modelu*@
                            <button type="button" title="Usuń" class="btn btn-default btn-sm btn-usun  pull-right" style="margin-right:5px">
                                <span class="glyphicon glyphicon-trash "></span>
                            </button>
                        }
                        <a href="@Url.Action("StatystykiGry", "Gra", new { idGry = gra.Id })" clas class="btn btn-default btn-sm pull-right" title="Statystyki" style="margin-right:5px;"><span class="glyphicon glyphicon-star"></span></a>
                        <a href="@Url.Action("DetaleGry","Gra", new { id = gra.Id })" class="btn btn-default btn-sm pull-right" title="Edytuj" style="margin-right:5px;"><span class="glyphicon glyphicon-cog"></span></a>
                        @*to jest zamiana actionLink na a*@
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
