﻿<script>
    $(document).ready(function () {
        pobierzDaneNajlepszychZawodnikow();
        //pobierzDaneNajlepszychZawodnikowPoPozycji();
    });
    function wyswietlWykresSredniaOcen(element, wartosc, daneGracza) {
        Highcharts.chart(element, {

            chart: {
                type: 'solidgauge',
                marginTop: 10
            },

            title: {
                //margin: 10,
                text: daneGracza
            },

            pane: {
                center: ['50%', '85%'],
                size: '140%',
                startAngle: -90,
                endAngle: 90,
                background: {
                    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                    innerRadius: '60%',
                    outerRadius: '100%',
                    shape: 'arc'
                }
            },

            tooltip: {
                enabled: false
            },

            // the value axis
            yAxis: {
                //    stops: [
                //        [0.1, '#55BF3B'], // green
                //        [0.5, '#DDDF0D'], // yellow
                //        [0.9, '#DF5353'] // red
                //    ],
                min: 0,
                max: 5,
                tickInterval: 5,

                //lineWidth: 0,
                minorTickInterval: null,
                tickAmount: undefined,
                title: {
                    y: -70
                },
                labels: {
                    y: 16
                }
            },

            plotOptions: {
                solidgauge: {
                    dataLabels: {
                        y: 3,
                        borderWidth: 0,
                        useHTML: true
                    }
                }
            },

            credits: {
                enabled: false
            },

            series: [{
                name: 'Średnia ocena',
                data: [wartosc],
                dataLabels: {
                    format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                    '<span style="font-size:13px;color:#151590;">Średnia ocen</span></div>'
                },
            }]
        });
    }

    function wyswietlWykresSlupkowySredniaOcen(element, listaOcen, listaDat) {

        Highcharts.chart(element, {  //zrob wykres w danym kontenerze w tym wypadku "element"
            legend: {
                enabled: false  //odpowiada za ukrycie legendy wykresu
            },
            chart: {
                type: 'column' //od tego zalezy jaki to jest wykres
            },
            title: {
                text: '10 ostatnich rozgrywek'
            },
            xAxis: {
                categories: listaDat,
                crosshair: true
            },
            yAxis: {
                min: 0,
                max: 5,  //odpowiada za skale ze jest od 0 do 5
                title: {
                    text: 'Średnia ocen'
                }
            },

            credits: {
                enabled: false
            },

            //tooltip: {   //odpowiada to za podpowiedz po najechaniu myszki
            //    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            //    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            //    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            //    footerFormat: '</table>',
            //    shared: true,
            //    useHTML: true
            //},

            plotOptions: {
                column: {
                    pointPadding: 0.2, //odpowiada za grubosc slupkow
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Średnia ocen',
                data: listaOcen  //to jest odpowiednig tego z dolu
                //data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
            }]
        });
    }


    //function wyswietlWykresSredniaOcenPoPozycji(element, wartosc, daneGracza) {
    //    Highcharts.chart(element, {

    //        chart: {
    //            type: 'solidgauge',
    //            marginTop: 10
    //        },

    //        title: {
    //            //margin: 10,
    //            text: daneGracza
    //        },

    //        pane: {
    //            center: ['50%', '85%'],
    //            size: '140%',
    //            startAngle: -90,
    //            endAngle: 90,
    //            background: {
    //                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
    //                innerRadius: '60%',
    //                outerRadius: '100%',
    //                shape: 'arc'
    //            }
    //        },

    //        tooltip: {
    //            enabled: false
    //        },

    //        // the value axis
    //        yAxis: {
    //            //    stops: [
    //            //        [0.1, '#55BF3B'], // green
    //            //        [0.5, '#DDDF0D'], // yellow
    //            //        [0.9, '#DF5353'] // red
    //            //    ],
    //            min: 0,
    //            max: 5,
    //            tickInterval: 5,

    //            //lineWidth: 0,
    //            minorTickInterval: null,
    //            tickAmount: undefined,
    //            title: {
    //                y: -70
    //            },
    //            labels: {
    //                y: 16
    //            }
    //        },

    //        plotOptions: {
    //            solidgauge: {
    //                dataLabels: {
    //                    y: 3,
    //                    borderWidth: 0,
    //                    useHTML: true
    //                }
    //            }
    //        },

    //        credits: {
    //            enabled: false
    //        },

    //        series: [{
    //            name: 'Średnia ocena',
    //            data: [wartosc],
    //            dataLabels: {
    //                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
    //                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
    //                '<span style="font-size:13px;color:#151590;">Średnia ocen</span></div>'
    //            },
    //        }]
    //    });
    //}

    //function wyswietlWykresSlupkowySredniaOcenPoPozycji(element, listaOcen, listaDat) {

    //    Highcharts.chart(element, {  //zrob wykres w danym kontenerze w tym wypadku "element"
    //        legend: {
    //            enabled: false  //odpowiada za ukrycie legendy wykresu
    //        },
    //        chart: {
    //            type: 'column' //od tego zalezy jaki to jest wykres
    //        },
    //        title: {
    //            text: '10 ostatnich rozgrywek'
    //        },
    //        xAxis: {
    //            categories: listaDat,
    //            crosshair: true
    //        },
    //        yAxis: {
    //            min: 0,
    //            max: 5,  //odpowiada za skale ze jest od 0 do 5
    //            title: {
    //                text: 'Średnia ocen'
    //            }
    //        },

    //        credits: {
    //            enabled: false
    //        },

    //        //tooltip: {   //odpowiada to za podpowiedz po najechaniu myszki
    //        //    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
    //        //    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
    //        //    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
    //        //    footerFormat: '</table>',
    //        //    shared: true,
    //        //    useHTML: true
    //        //},

    //        plotOptions: {
    //            column: {
    //                pointPadding: 0.2, //odpowiada za grubosc slupkow
    //                borderWidth: 0
    //            }
    //        },
    //        series: [{
    //            name: 'Średnia ocen',
    //            data: listaOcen  //to jest odpowiednig tego z dolu
    //            //data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
    //        }]
    //    });
    //}


    function pobierzDaneNajlepszychZawodnikow() {
        $.ajax({     //uzywam ajax (sposb przesylu info -komunikacji pomiedzy przegladarka a serwerem -> dane sa wysylane bez przeladowania strony -ASYNCHRONICZNIE)
            type: "GET",  //metoda dostepu api kontrolerze
            url: "/Api/ApiStatystykiGracza/PobierzStatystykeNajlepszychGraczy", // podaje adres gdzie jest folder nazwa kontolera i metoda
            data: {}, // dane ktore chcemy przeslac
            contentType: "application/json", //zawsze ma byc to napisane i to mowi ze korzystam z formatu json (format danych -nazwa pola oraz wartosc)
            success: function (result) { //jezeli nie pojawil sie blad (udalo sie uzyskac odp z serwera)
                if (result != null) {
                    if (result.NajlepszyPuenter != null) {
                        wyswietlWykresSredniaOcen("wykresOcenaNajlepszyPuenter", result.NajlepszyPuenter.SredniaOcen, result.NajlepszyPuenter.Imie + " " + result.NajlepszyPuenter.Nazwisko);
                        wyswietlWykresSlupkowySredniaOcen("wykresSlupkowyNajlepszyPuenter", result.NajlepszyPuenter.ListaOcen, result.NajlepszyPuenter.ListaDat);
                    } else {
                        wyswietlWykresSredniaOcen("wykresOcenaNajlepszyPuenter", null, "Brak danych");
                    }

                    if (result.NajlepszyStrzelec != null) {
                        //  $("#najlepszyStrzelec").text(result.NajlepszyStrzelec.Imie + " " + result.NajlepszyStrzelec.Nazwisko + " " + result.NajlepszyStrzelec.SredniaOcen.toFixed(2));
                        wyswietlWykresSredniaOcen("wykresOcenaNajlepszyStrzelec", result.NajlepszyStrzelec.SredniaOcen, result.NajlepszyStrzelec.Imie + " " + result.NajlepszyStrzelec.Nazwisko);
                        wyswietlWykresSlupkowySredniaOcen("wykresSlupkowyNajlepszyStrzelec", result.NajlepszyStrzelec.ListaOcen, result.NajlepszyStrzelec.ListaDat);
                    } else {
                        wyswietlWykresSredniaOcen("wykresOcenaNajlepszyStrzelec", null, "Brak danych");
                    }


                    if (result.NajlepszyGraczNaPozycjiPuenter != null) {
                        wyswietlWykresSredniaOcen("wykresOcenaNajlepszyPuenterPoPozycji", result.NajlepszyGraczNaPozycjiPuenter.SredniaOcen, result.NajlepszyGraczNaPozycjiPuenter.Imie + " " + result.NajlepszyGraczNaPozycjiPuenter.Nazwisko);
                        wyswietlWykresSlupkowySredniaOcen("wykresSlupkowyNajlepszyPuenterPoPozycji", result.NajlepszyGraczNaPozycjiPuenter.ListaOcen, result.NajlepszyGraczNaPozycjiPuenter.ListaDat);
                    } else {
                        wyswietlWykresSredniaOcen("wykresOcenaNajlepszyPuenterPoPozycji", null, "Brak danych");
                    }

                    if (result.NajlepszyGraczNaPozycjiStrzelec != null) {
                        wyswietlWykresSredniaOcen("wykresOcenaNajlepszyStrzelecPoPozycji", result.NajlepszyGraczNaPozycjiStrzelec.SredniaOcen, result.NajlepszyGraczNaPozycjiStrzelec.Imie + " " + result.NajlepszyGraczNaPozycjiStrzelec.Nazwisko);
                        wyswietlWykresSlupkowySredniaOcen("wykresSlupkowyNajlepszyStrzelecPoPozycji", result.NajlepszyGraczNaPozycjiStrzelec.ListaOcen, result.NajlepszyGraczNaPozycjiStrzelec.ListaDat);
                    } else {
                        wyswietlWykresSredniaOcen("wykresOcenaNajlepszyStrzelecPoPozycji", null, "Brak danych");
                    }
                }
            }
        });
    }
    //function pobierzDaneNajlepszychZawodnikowPoPozycji() {
    //    $.ajax({     //uzywam ajax (sposb przesylu info -komunikacji pomiedzy przegladarka a serwerem -> dane sa wysylane bez przeladowania strony -ASYNCHRONICZNIE)
    //        type: "GET",  //metoda dostepu api kontrolerze
    //        url: "/Api/ApiStatystykiGracza/PobierzStatystykeNajlepszychGraczy", // podaje adres gdzie jest folder nazwa kontolera i metoda
    //        data: {}, // dane ktore chcemy przeslac
    //        contentType: "application/json", //zawsze ma byc to napisane i to mowi ze korzystam z formatu json (format danych -nazwa pola oraz wartosc)
    //        success: function (result) { //jezeli nie pojawil sie blad (udalo sie uzyskac odp z serwera)
    //            if (result != null) {
    //                if (result. != null) {
    //                    wyswietlWykresSredniaOcenPoPozycji("wykresOcenaNajlepszyPuenterPoPozycji", result.NajlepszyPuenter.SredniaOcen, result.NajlepszyPuenter.Imie + " " + result.NajlepszyPuenter.Nazwisko);
    //                    wyswietlWykresSlupkowySredniaOcenPoPozycji("wykresSlupkowyNajlepszyPuenterPoPozycji", result.NajlepszyPuenter.ListaOcen, result.NajlepszyPuenter.ListaDat);
    //                } else {
    //                    wyswietlWykresSredniaOcenPoPozycji("wykresOcenaNajlepszyPuenterPoPozycji", null, "Brak danych");
    //                }

    //                if (result.NajlepszyStrzelec != null) {
    //                    //  $("#najlepszyStrzelec").text(result.NajlepszyStrzelec.Imie + " " + result.NajlepszyStrzelec.Nazwisko + " " + result.NajlepszyStrzelec.SredniaOcen.toFixed(2));
    //                    wyswietlWykresSredniaOcenPoPozycji("wykresOcenaNajlepszyStrzelecPoPozycji", result.NajlepszyStrzelec.SredniaOcen, result.NajlepszyStrzelec.Imie + " " + result.NajlepszyStrzelec.Nazwisko);
    //                    wyswietlWykresSlupkowySredniaOcenPoPozycji("wykresSlupkowyNajlepszyStrzelecPoPozycji", result.NajlepszyStrzelec.ListaOcen, result.NajlepszyStrzelec.ListaDat);
    //                } else {
    //                    wyswietlWykresSredniaOcenPoPozycji("wykresOcenaNajlepszyStrzelecPoPozycji", null, "Brak danych");
    //                }
    //            }
    //        }
    //    });

    //}

</script>

<div class="jumbotron">
    <h1 class="text-center">Najlepsi zawodnicy</h1>
</div>

<div class="row">
    <div class="col-sm-6">
        <h3>Najlepszy puenter</h3>
        <label id="najlepszyPuenter" style="display:block; text-align:center;"></label>
        <div id="wykresOcenaNajlepszyPuenter" style="width: 100%; height: 200px;"></div>
        <div id="wykresSlupkowyNajlepszyPuenter" style="min-width: 310px; height: 400px; margin-top:15px"></div>
    </div>
    <div class="col-sm-6">
        <h3>Najlepszy strzelec</h3>
        <label id="najlepszyStrzelec1" style="display:block; text-align:center;"></label>
        <div id="wykresOcenaNajlepszyStrzelec" style="width: 100%; height: 200px;"></div>
        <div id="wykresSlupkowyNajlepszyStrzelec" style="min-width: 310px; height: 400px;margin-top:15px"></div>
    </div>
</div>

  &nbsp;
  &nbsp;

<div class="row">
    <div class="col-sm-6">
        <h3>Najlepszy zawodnik na pozycji puenter</h3>
        <label id="najlepszyPuenterPoPozycji" style="display:block; text-align:center;"></label>
        <div id="wykresOcenaNajlepszyPuenterPoPozycji" style="width: 100%; height: 200px;"></div>
        <div id="wykresSlupkowyNajlepszyPuenterPoPozycji" style="min-width: 310px; height: 400px; margin-top:15px"></div>
    </div>
    <div class="col-sm-6">
        <h3>Najlepszy zawodnik na pozycji strzelec</h3>
        <label id="najlepszyStrzelecPoPozycji" style="display:block; text-align:center;"></label>
        <div id="wykresOcenaNajlepszyStrzelecPoPozycji" style="width: 100%; height: 200px;"></div>
        <div id="wykresSlupkowyNajlepszyStrzelecPoPozycji" style="min-width: 310px; height: 400px;margin-top:15px"></div>
    </div>
</div>