﻿@using PracaMagisterska.Models
@model EdytujGraczaViewModel

<h2>Detale gracza</h2>

@using (Html.BeginForm("ZapiszDetaleGracza", "Gracz", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.Imie)
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                    @Html.TextBoxFor(x => x.Imie, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Imie) })
                </div>
                @Html.ValidationMessageFor(x => x.Imie)
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.Nazwisko)
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                    @Html.TextBoxFor(x => x.Nazwisko, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Nazwisko) })
                </div>
                @Html.ValidationMessageFor(x => x.Nazwisko)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="form-group ">
                @Html.LabelFor(x => x.NrLicencji)
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-tags"></span></div>
                    @Html.TextBoxFor(x => x.NrLicencji, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.NrLicencji) })
                </div>
                @Html.ValidationMessageFor(x => x.NrLicencji)
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class=" form-group">
                @Html.LabelFor(x => x.Pozycja)
                <div class=" input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></div>
                    @Html.DropDownListFor(x => x.Pozycja, Model.ListaPozycji, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(x => x.Pozycja)
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class=" form-group">
                @Html.LabelFor(x => x.KlubId)
                <div class=" input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></div>
                    @Html.DropDownListFor(x => x.KlubId, Model.ListaKlubow, "Wybierz klub", new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(x => x.KlubId)
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class=" form-group">
                @Html.LabelFor(x => x.KategoriaWiekowaGracza)
                <div class=" input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></div>
                    @Html.DropDownListFor(x => x.KategoriaWiekowaGracza, Model.ListaKategoriiWiekowych, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(x => x.KategoriaWiekowaGracza)
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class=" form-group">
                @Html.LabelFor(x => x.Plec)
                <div class=" input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></div>
                    @Html.DropDownListFor(x => x.Plec, Model.ListaPlci, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(x => x.Plec)
            </div>
        </div>
    </div>
    <button class="btn btn-default">Zapisz</button>
    @Html.ActionLink("Anuluj", "ListaGraczy", "Gracz", null, new { @class = "btn btn-default" });
}
