﻿@using PracaMagisterska.BazaDanych
@model List<Gracz>
@using PracaMagisterska.Enums

<h2>Lista graczy</h2>
<script>
    $(document).ready(function () {
        $('.btn-usun').click(function () {
            var btn = $(this);
            swal({
                title: 'Na pewno chcesz to usunąć?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Tak,chcę to usunąć!',
                cancelButtonText: 'Anuluj'
            }).then(function () {
                $(btn).closest('form').submit();
            })
        });
    });
</script>

@Html.ActionLink("Dodaj gracza", "DetaleGracza", "Gracz", null, new { @class = "btn btn-default" })
<div class=" row">
    <div class="col-sm-12">
        <table class="table table-striped" style="margin-top:20px;">
            <tr>
                <th>
                    Imię
                </th>
                <th>
                    Nazwisko
                </th>
                <th class="hidden-xs">
                    Nr licencji
                </th>
                <th class="hidden-xs">
                    Płeć
                </th>
                <th>
                    Kategoria wiekowa
                </th>
                <th>
                    Pozycja
                </th>
                <th class="hidden-xs">
                    Klub
                </th>
                <th style="width:100px;"></th>
            </tr>

            @if (Model.Count == 0)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center">
                        Brak danych.
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }

            @foreach (Gracz gracz in Model)
            {
                <tr>
                    <td>
                        @gracz.Imie
                    </td>
                    <td>
                        @gracz.Nazwisko
                    </td>
                    <td class="hidden-xs">
                        @gracz.NrLicencji
                    </td>
                    <td class="hidden-xs">
                        @(((PlecGracza)gracz.Plec).PobierzOpisEnuma())
                    </td>
                    <td>
                        @(((KategoriaWiekowa)gracz.KategoriaWiekowa).PobierzOpisEnuma())
                    </td>
                    <td>
                        @(((PozycjaGracza)gracz.Pozycja).PobierzOpisEnuma())
                    </td>
                    @if (gracz.KlubId != null)
                    {
                        <td class="hidden-xs">
                            @gracz.Klub.Nazwa
                        </td>
                    }
                    else
                    {
                        <td class="hidden-xs"></td>
                    }
                    <td>
                        <a href="@Url.Action("DetaleGracza","Gracz", new { id = gracz.Id })" class="btn btn-default btn-sm pull-left" title="Edytuj" style="margin-right:10px;"><span class="glyphicon glyphicon-cog"></span></a>
                        @*to jest zamiana actionLink na a*@
                        @using (Html.BeginForm("Usun", "Gracz", FormMethod.Post, new { @class = "pull-left" }))
                        {
                            @Html.Hidden("id", gracz.Id)  @*nazwa ma byc tak jak nazwa parametru w kontrolerze , a wartosc pobieramy z konkretnego elementu modelu*@
                            <button type="button" title="Usuń" class="btn btn-default btn-sm btn-usun">
                                <span class="glyphicon glyphicon-trash "></span>
                            </button>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>