﻿@using PracaMagisterska.Enums;
@using PracaMagisterska.BazaDanych;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praca magisterska</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)

    <script>
        $.validator.setDefaults({
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        function escapeRegExp(str) {
            return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
        }

        String.prototype.replaceAll = function (search, replacement) {
            var target = this;
            return target.replace(new RegExp(escapeRegExp(search), 'g'), replacement);
        };

        jQuery(function ($) {
            $.validator.addMethod('date',
                function (value, element) {
                    return this.optional(element) || moment(value, 'YYYY-MM-DD HH:mm').isValid() || moment(value, 'YYYY-MM-DD').isValid();
                });
        });

        $(document).ready(function () {
            autosize($('textarea'));
            $('#link-wyloguj').click(function () {
                $('#form-wyloguj').submit();
            });
            $('.input-group.date-time').datetimepicker({
                locale: 'pl'
            });
            $('.input-group.date').datetimepicker({
                locale: 'pl',
                format: 'YYYY-MM-DD'
            });
        });

    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Strona główna", "Index2", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    @if (Request.IsAuthenticated == true)
                    {
                        <li>
                            @Html.ActionLink("Lista graczy", "ListaGraczy", "Gracz")
                        </li>
                        <li>
                            @Html.ActionLink("Lista gier", "ListaGier", "Gra")
                        </li>
                        <li>
                            @Html.ActionLink("Najlepsi zawodnicy", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Statystyki", "Statystyki", "Gra")
                        </li>
                        <li>
                            @Html.ActionLink("Notatki", "ListaNotatek", "Notatka")
                        </li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (Request.IsAuthenticated == false)
                        {
                        <li>@Html.ActionLink("Zaloguj", "Zaloguj", "Uzytkownik")</li>
                        <li>@Html.ActionLink("Zarejestruj", "Rejestracja", "Uzytkownik")</li>
                        }
                        else
                        {
                            <li>
                                <a>@User.Identity.Name</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                                <ul class="dropdown-menu navbar-inverse navbar-nav">
                                    <li>
                                        @Html.ActionLink("Edytuj", "Edytuj", "Uzytkownik")
                                    </li>
                                    <li>
                                        <a id="link-wyloguj" href="#">Wyloguj</a>
                                        @using (Html.BeginForm("Wyloguj", "Uzytkownik", FormMethod.Post, new { id = "form-wyloguj" }))
                                        {

                                        }
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year — Praca mgr Konrad Kulikowski</p>
                @*@User.Identity.Name
                    @(((PracaMagisterskaEntities.BazaDanych.Uzytkownik)Session["uzytkownik"]).Id)*@
            </footer>
        </div>
    </body>
</html>
